<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <link rel="shortcut icon" href="img/sonede1.png">
    <title>Nos offres</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
    <!-- MDB -->
    <link rel="stylesheet" href="css/display_emploi_user2.css" />
    <!-- Custom styles -->
    <link rel="stylesheet" href="css/popup3.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
     
  </head>

  <body>
    <!--Main Navigation-->
<header>
  <!-- Intro settings -->
  <style>


body{
    background:#f5f5f5;
    margin-top:70px;
    }
/*------- portfolio -------*/
.project {
  margin: 15px 0;
}

.no-gutter .project {
  margin: 0 !important;
  padding: 0 !important;
}

.has-spacer {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.has-spacer-extra-space {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.has-side-spacer {
  margin-left: 30px;
  margin-right: 30px;
}

.project-title {
  font-size: 1.25rem;
}

.project-skill {
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.06rem;
}

.project-info-box {
  margin: 15px 0;
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 5px;
}

.project-info-box p {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d5dadb;
}

.project-info-box p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.rounded {
    border-radius: 5px !important;
}
.btn-xs.btn-icon {
    width: 34px;
    height: 34px;
    max-width: 34px !important;
    max-height: 34px !important;
    font-size: 10px;
    line-height: 34px;
}
/* facebook button */
.btn-facebook, .btn-facebook:active, .btn-facebook:focus {
  color: #fff !important;
  background: #4e68a1;
  border: 2px solid #4e68a1;
}

.btn-facebook:hover {
  color: #fff !important;
  background: #3b4f7a;
  border: 2px solid #3b4f7a;
}

.btn-facebook-link, .btn-facebook-link:active, .btn-facebook-link:focus {
  color: #4e68a1 !important;
  background: transparent;
  border: none;
}

.btn-facebook-link:hover {
  color: #3b4f7a !important;
}

.btn-outline-facebook, .btn-outline-facebook:active, .btn-outline-facebook:focus {
  color: #4e68a1 !important;
  background: transparent;
  border: 2px solid #4e68a1;
}

.btn-outline-facebook:hover {
  color: #fff !important;
  background: #4e68a1;
  border: 2px solid #4e68a1;
}

/* twitter button */
.btn-twitter, .btn-twitter:active, .btn-twitter:focus {
  color: #fff !important;
  background: #65b5f2;
  border: 2px solid #65b5f2;
}

.btn-twitter:hover {
  color: #fff !important;
  background: #5294c6;
  border: 2px solid #5294c6;
}

.btn-twitter:hover {
  color: #fff !important;
  background: #5294c6;
  border: 2px solid #5294c6;
}

.btn-twitter-link, .btn-twitter-link:active, .btn-twitter-link:focus {
  color: #65b5f2 !important;
  background: transparent;
  border: none;
}

.btn-twitter-link:hover {
  color: #5294c6 !important;
}

.btn-outline-twitter, .btn-outline-twitter:active, .btn-outline-twitter:focus {
  color: #65b5f2 !important;
  background: transparent;
  border: 2px solid #65b5f2;
}

.btn-outline-twitter:hover {
  color: #fff !important;
  background: #65b5f2;
  border: 2px solid #65b5f2;
}

/* google button */
.btn-google, .btn-google:active, .btn-google:focus {
  color: #fff !important;
  background: #e05d4b;
  border: 2px solid #e05d4b;
}

.btn-google:hover {
  color: #fff !important;
  background: #b94c3d;
  border: 2px solid #b94c3d;
}

.btn-google-link, .btn-google-link:active, .btn-google-link:focus {
  color: #e05d4b !important;
  background: transparent;
  border: none;
}

.btn-google-link:hover {
  color: #b94c3d !important;
}

.btn-outline-google, .btn-outline-google:active, .btn-outline-google:focus {
  color: #e05d4b !important;
  background: transparent;
  border: 2px solid #e05d4b;
}

.btn-outline-google:hover {
  color: #fff !important;
  background: #e05d4b;
  border: 2px solid #e05d4b;
}

/* linkedin button */
.btn-linkedin, .btn-linkedin:active, .btn-linkedin:focus {
  color: #fff !important;
  background: #2083bc;
  border: 2px solid #2083bc;
}

.btn-linkedin:hover {
  color: #fff !important;
  background: #186592;
  border: 2px solid #186592;
}

.btn-linkedin-link, .btn-linkedin-link:active, .btn-linkedin-link:focus {
  color: #2083bc !important;
  background: transparent;
  border: none;
}

.btn-linkedin-link:hover {
  color: #186592 !important;
}

.btn-outline-linkedin, .btn-outline-linkedin:active, .btn-outline-linkedin:focus {
  color: #2083bc !important;
  background: transparent;
  border: 2px solid #2083bc;
}

.btn-outline-linkedin:hover {
  color: #fff !important;
  background: #2083bc;
  border: 2px solid #2083bc;
}

/* pinterest button */
.btn-pinterest, .btn-pinterest:active, .btn-pinterest:focus {
  color: #fff !important;
  background: #d2373b;
  border: 2px solid #d2373b;
}

.btn-pinterest:hover {
  color: #fff !important;
  background: #ad2c2f;
  border: 2px solid #ad2c2f;
}

.btn-pinterest-link, .btn-pinterest-link:active, .btn-pinterest-link:focus {
  color: #d2373b !important;
  background: transparent;
  border: none;
}

.btn-pinterest-link:hover {
  color: #ad2c2f !important;
}

.btn-outline-pinterest, .btn-outline-pinterest:active, .btn-outline-pinterest:focus {
  color: #d2373b !important;
  background: transparent;
  border: 2px solid #d2373b;
}

.btn-outline-pinterest:hover {
  color: #fff !important;
  background: #d2373b;
  border: 2px solid #d2373b;
}

/* dribble button */
.btn-dribbble, .btn-dribbble:active, .btn-dribbble:focus {
  color: #fff !important;
  background: #ec5f94;
  border: 2px solid #ec5f94;
}

.btn-dribbble:hover {
  color: #fff !important;
  background: #b4446e;
  border: 2px solid #b4446e;
}

.btn-dribbble-link, .btn-dribbble-link:active, .btn-dribbble-link:focus {
  color: #ec5f94 !important;
  background: transparent;
  border: none;
}

.btn-dribbble-link:hover {
  color: #b4446e !important;
}

.btn-outline-dribbble, .btn-outline-dribbble:active, .btn-outline-dribbble:focus {
  color: #ec5f94 !important;
  background: transparent;
  border: 2px solid #ec5f94;
}

.btn-outline-dribbble:hover {
  color: #fff !important;
  background: #ec5f94;
  border: 2px solid #ec5f94;
}

/* instagram button */
.btn-instagram, .btn-instagram:active, .btn-instagram:focus {
  color: #fff !important;
  background: #4c5fd7;
  border: 2px solid #4c5fd7;
}

.btn-instagram:hover {
  color: #fff !important;
  background: #4252ba;
  border: 2px solid #4252ba;
}

.btn-instagram-link, .btn-instagram-link:active, .btn-instagram-link:focus {
  color: #4c5fd7 !important;
  background: transparent;
  border: none;
}

.btn-instagram-link:hover {
  color: #4252ba !important;
}

.btn-outline-instagram, .btn-outline-instagram:active, .btn-outline-instagram:focus {
  color: #4c5fd7 !important;
  background: transparent;
  border: 2px solid #4c5fd7;
}

.btn-outline-instagram:hover {
  color: #fff !important;
  background: #4c5fd7;
  border: 2px solid #4c5fd7;
}

/* youtube button */
.btn-youtube, .btn-youtube:active, .btn-youtube:focus {
  color: #fff !important;
  background: #e52d27;
  border: 2px solid #e52d27;
}

.btn-youtube:hover {
  color: #fff !important;
  background: #b31217;
  border: 2px solid #b31217;
}

.btn-youtube-link, .btn-youtube-link:active, .btn-youtube-link:focus {
  color: #e52d27 !important;
  background: transparent;
  border: none;
}

.btn-youtube-link:hover {
  color: #b31217 !important;
}

.btn-outline-youtube, .btn-outline-youtube:active, .btn-outline-youtube:focus {
  color: #e52d27 !important;
  background: transparent;
  border: 2px solid #e52d27;
}

.btn-outline-youtube:hover {
  color: #fff !important;
  background: #e52d27;
  border: 2px solid #e52d27;
}
.btn-xs.btn-icon span, .btn-xs.btn-icon i {
    line-height: 34px;
}
.btn-icon.btn-circle span, .btn-icon.btn-circle i {
    margin-top: -1px;
    margin-right: -1px;
}
.btn-icon i {
    margin-top: -1px;
}
.btn-icon span, .btn-icon i {
    display: block;
    line-height: 50px;
}
a.btn, a.btn-social {
    display: inline-block;
}
.mr-5 {
    margin-right: 5px !important;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.btn-facebook, .btn-facebook:active, .btn-facebook:focus {
    color: #fff !important;
    background: #4e68a1;
    border: 2px solid #4e68a1;
}
.btn-circle {
    border-radius: 50% !important;
}
.project-info-box p {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d5dadb;
}
p {
    font-family: "Barlow", sans-serif !important;
    font-weight: 300;
    font-size: 1rem;
    color: #686c6d;
    letter-spacing: 0.03rem;
    margin-bottom: 10px;
}
b, strong {
    font-weight: 700 !important;
}

       #intro {
      /* Margin to fix overlapping fixed navbar */
      margin-top: 58px;
    }

    @media (max-width: 991px) {
      #intro {
        /* Margin to fix overlapping fixed navbar */
        margin-top: 45px;
      }
    }

.bg-image{
  width: 400px;
height: 270px;

border:2px solid #FFFFFF;

}
.bg-image img {
height: 100%;
width: 100%;

}

@media (min-width: 37.5em) {
.button {
  width: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
}

.button {

border: 0;
color: #fefbef;
font-family: 'Open Sans', sans-serif;
font-weight: 600;
line-height: 1;


}
.button--secondary.button--solid {
background-color: #357edd;
}
.button--secondary.button--hollow {
color: #357edd;
border: 1px solid #357edd;

}
.button--small {
min-width: 6rem;
border-radius: 0.5rem;
font-size: 0.8em;
min-height: 2rem;
}
.button--small.button--hollow {
border-width: 2px;
}

#header {
margin-bottom: 2%;
justify-content: space-between;
flex-direction: column;


}

#header-content {
justify-content: flex-end;
display: flex;
}
  </style>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container-fluid">
      <!-- Navbar brand -->
      <a class="navbar-brand" target="_blank" href="https://www.sonede.com.tn/">
        <img src="/img/sonede1.png" height="36" alt="" loading="lazy"
          style="margin-top: -3px;" />
      </a>
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/display_emploi_user" rel="nofollow"
              >Appel d'embauche</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/display_stage_user" rel="nofollow"
              >Offre de stage</a>
          </li>
        
        </ul>

        <ul class="navbar-nav d-flex flex-row">
          <!-- Icons -->
          <li class="nav-item">
            <a style="color: #00BFFF;" class="nav-link" href="/display_stage_user" rel="nofollow"
              >Mes postulations</a>
          </li>
         
          <li class="nav-item me-3 me-lg-0">
            <a style="color: red;" class="nav-link" href="https://www.youtube.com/channel/UCk0JDY4cPvKv1m8Bsnl9qhg" rel="nofollow"
              target="_blank">
              <i class="fab fa-youtube"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a style="color: #00008B;" class="nav-link" href="https://www.facebook.com/SONEDE" rel="nofollow" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a style="color: 	#00BFFF;" class="nav-link" href="https://twitter.com/sonede_tn?lang=fr" rel="nofollow" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="nav-item">
            <a style="color: red;" class="nav-link"  href="/logout"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>Déconnexion</a>
          </li>
        
        </ul>
      </div>
    </div>
  </nav>
  <section>


    <div id="wrapper" style="margin-bottom: 0%;padding-bottom: 0%;">
        <!-- Navigation -->
        <nav class="navbar navbar-dark  navbar-fixed-top">
          <div class="container-fluid">
              
            <!-- Brand and toggle get grouped for better mobile display -->
          
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/ajouter_emploi"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Ajouter une offre d'emploi</a>
                </li>
                <li><a href="/ajouter_emploi"><span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span> ARCHIVE</a>
                </li>
                
                <li><a href="/logout"><span class="glyphicon glyphicon-off" aria-hidden="true"></span></a>
                </li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.container-fluid -->
        </nav>
        <!-- Boostrap Sidebar  - Collapsible Menu Items -->
        <!-- Sidebar -->
    
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="main-page-content" style="">
       
  

          <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="project-info-box mt-0">
                        <h5 style="font-size:24px ;">Définition de l'offre</h5>
                        <p style="font-size:14px ;" class="mb-0"><%=emplois.description%></p>
                    </div><!-- / project-info-box -->
        
                    <div class="project-info-box">
                        <p style="font-size:12px ;"><b  style="font-size:14px ;">Poste :</b> <%=emplois.fonction%></p>
                        <p style="font-size:12px ;"><b  style="font-size:14px ;">Recruteur :</b> <%=emplois.recruteur%></p>
                        <p style="font-size:12px ;"><b  style="font-size:14px ;">Contrat :</b> <%=emplois.contrat%></p>
                        <p style="font-size:12px ;"><b  style="font-size:14px ;">Date de lancement :</b> <%= moment(emplois.date_debut).format('L'); %></p>
                        <p class="mb-0" style="font-size:12px ;"><b  style="font-size:14px ;">Secteur :</b> <%=emplois.secteur%></p>
                        
                    </div><!-- / project-info-box -->
        
                    <div class="project-info-box mt-0 mb-0">
                        <p class="mb-0">
  
                          
                            <span class="fw-bold mr-10 va-middle hide-mobile" style="font-size: 14px;">Articles de presse et Sites :</span>
                            
                            

                            <a style="width: 60%;"title="tunisia-jobs" class="btn border-shadow user" href="https://tunisia-jobs.com/"><img src="/img/tunisiajobs.PNG"/></a>
                            <br/>

                            <a style="width: 85%;" title="la presse de tunisie" class="btn border-shadow user" href="https://lapresse.tn/"><img width="100%" src="/img/la presse.PNG"/> </a>
                        
                            <br/>

                            <a style="width: 60%;" title="kapitalis" class="btn border-shadow user" href="http://kapitalis.com/"><img src="/img/kapitalis.PNG"/></a>
                            <br/>
                            
                            <a style="width: 60%;"title="tunisia-jobs" class="btn border-shadow user" href="https://www.rekrute.com/"><img src="/img/rekrute.PNG"/></a>
                            <br/>
                            <a style="width: 60%;"title="Aneti" class="btn border-shadow user" href="http://www.emploi.nat.tn/"><img src="/img/logo-aneti.png"/></a>
                            </p>
                    </div><!-- / project-info-box -->
                </div><!-- / column -->
        
                <div class="col-md-7">
                  <img style="
                    width: 100%;
                    max-width: 100%;
                    height: auto;
                    -webkit-backface-visibility: hidden;
                " src="/<%=image%>" alt="" name="image" id="image"/>
                    <div class="project-info-box">
                      
  
  
                      <% if (emplois.disponibilite === 'disponible') { %>
                          
                          <p class="mb-0"><b style="padding-right:3% ;font-size: 14px;">Disponibilité: </b> <img style="width: 13%;" src="/img/open_icon.png" alt="Open"></p>
                          <%} else { %>
                          
                          <p   class="mb-0"><b style="padding-right:3% ;font-size: 14px;">Disponibilité:</b> <img style="width: 13%;" src="/img/closed_icon.png" alt="Closed"></p>
                          <% } %>
  
  
                        <p class="mb-0" style="font-size:12px ;"><b style="font-size:14px ;">Paiment :</b> <%=emplois.paiment%> dnt</p>
                    </div><!-- / project-info-box -->
                </div><!-- / column -->
            </div>
        </div>
  


</section>

  <footer class="bg-light text-lg-start">
 
    <hr class="m-0" />

    <div class="text-center py-4 align-items-center">
      <p>Suivez l'actualité de la<b> SONEDE</b> </p>
      <a href="https://www.youtube.com/channel/UCk0JDY4cPvKv1m8Bsnl9qhg" class="btn btn-primary m-1" role="button"
        rel="nofollow" target="_blank">
        <i class="fab fa-youtube"></i>
      </a>
      <a href="https://www.facebook.com/SONEDE" class="btn btn-primary m-1" role="button" rel="nofollow"
        target="_blank">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://twitter.com/sonede_tn?lang=fr" class="btn btn-primary m-1" role="button" rel="nofollow"
        target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
     
    </div>

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      - Rue Jawaharlal Nehru Montfleury 1089 Tunis Chebbi, Tunis.
		- 71 390 569 / 71 390 369.
      <a class="text-dark" href="http://www.sonede.com.tn">Sonede.com.tn</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!--Footer-->
    <!-- MDB -->
    <script type="text/javascript" src="/js/display_emploi_user2.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript" src="/js/display_emploi_user.js"></script>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    
    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
crossorigin="anonymous"></script>
</body>
</html>