<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Bootstrap 3 Contact form with Validation</title>
  <link rel="shortcut icon" href="/img/sonede1.png">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>

<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css'>
<link rel="stylesheet" href="/css/form_emploi.css">
<link href="/css/bootstrap-sidebar.min.css" rel="stylesheet">

<style>
  
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: local("Oswald Regular"), local("Oswald-Regular"), url(https://fonts.gstatic.com/s/oswald/v10/Qw6_9HvXRQGg5mMbFR3Phn-_kf6ByYO6CLYdB4HQE-Y.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: local("Oswald Regular"), local("Oswald-Regular"), url(https://fonts.gstatic.com/s/oswald/v10/_P8jt3Y65hJ9c4AzRE0V1OvvDin1pK8aKteLpeZ5c0A.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


h1 {
  font-family: oswald;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  font-size: 80px;
  margin-bottom: 3%;
}

  .emploi {
    width: 140px;
    height: 140px;
   border:2px solid #FFFFFF; 
   box-shadow: 0 0 8px 3px #B8B8B8;
   
  
  }
  
  
  .emploi img {
    height: 100%;
    width: 100%;
    position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      vertical-align: middle;
      
    
  }
  </style>
</head>

<body>
  <div>
  <!-- boostrap wrapper -->
  <div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-dark  navbar-fixed-top">
      <div class="container-fluid">
          
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#menu-toggle" id="menu-toggle"> <span class="
            glyphicon glyphicon-th-large" aria-hidden="true"></span><span class="logo"> Bienvenue, <%=username%></span>
          </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/ajouter_emploi"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Ajouter une offre d'emploi</a>
            </li>
            <li><a href="/display_archive_emploi"><span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span> ARCHIVE</a>
            </li>
            
            <li><a href="/logout"><span class="glyphicon glyphicon-off" aria-hidden="true"></span></a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
    <!-- Boostrap Sidebar  - Collapsible Menu Items -->
    <!-- Sidebar -->
    <div id="bootstrap-sidebar" class="dark-theme text-menu">
      <ul class="sidebar-nav">
        <li > <a href="/home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> <span class="menu-text">Acceuil</span></a>
        </li>
        <li class="active"> <a href="/display_emploi"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> <span class="menu-text">Offres d'emploi</span></a>
        </li>
        <li> <a href="/display_vacant"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> <span class="menu-text">Stage et alternance</span></a>
        </li>
        <li> <a href="/display_users"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span class="menu-text">Utilisateurs</span></a>
        </li>
        
      
      </ul>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    
   
  <div id="main-page-content">
<!-- partial:index.partial.html -->
<div class="container">

    <form class="well form-horizontal" action="/edit_emploi/<%= emploi._id %>?_csrf=<%= csrfToken %>" method="POST" id="modifier_emploi" name="modifier_emploi" enctype="multipart/form-data">
    
        <fieldset>

<!-- Form Name -->
<div id="intro" class="p-5 text-center bg-light">
  <h1>Modifier l'offre d'embauche</h1>
  <p class="mb-3"></p>
  
</div>


<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label">Poste :</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
  <input  name="fonction" value="<%= emploi.fonction %>" id="fonction" maxlength="50" class="form-control"  type="text">
    </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" >Nom du Recruteur :</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input  name="recruteur" value="<%= emploi.recruteur %>"  id="recruteur" class="form-control"  type="text">
    </div>
  </div>
</div>

<!-- Text input-->
       <div class="form-group">
  <label class="col-md-4 control-label">Type de contrat :</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
        <select name="contrat" class="form-control selectpicker" id="contrat">
          <option value=" " >Veuillez sélectionner la type de contrat</option>
         
          <option value="Contrat à durée déterminée" <%=emploi.contrat==='Contrat à durée déterminée' ? 'selected' : '' %>>Contrat à durée déterminée</option>
          <option value="Contrat à durée indéterminée" <%=emploi.contrat==='Contrat à durée indéterminée' ? 'selected' : '' %>>Contrat à durée indéterminée</option>
          <option value="Contrat verbal" <%=emploi.contrat==='Contrat verbal' ? 'selected' : '' %>>Contrat verbal</option>
          <option value="Contrat écrit" <%=emploi.contrat==='Contrat écrit' ? 'selected' : '' %>>Contrat écrit</option>
    
        </select>
    </div>
  </div>
</div>

<div class="form-group"> 
  <label class="col-md-4 control-label">Disponibilité :</label>
    <div class="col-md-4 selectContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
    <select name="disponibilite" class="form-control selectpicker" id="disponibilite" value="<%= emploi.disponibilite %>" >
      <option value=" " >Veuillez sélectionner la Disponibilité de l'offre</option>
      
      <option value="disponible" <%=emploi.disponibilite==='disponible' ? 'selected' : '' %>>Disponible</option>
      <option value="indisponible" <%=emploi.disponibilite==='indisponible' ? 'selected' : '' %>>Indisponible</option>
                 
    </select>
  </div>
</div>
</div>

<!-- Text input-->
      



<!-- Select Basic -->
  
<div class="form-group"> 
    <label class="col-md-4 control-label">Secteur :</label>
      <div class="col-md-4 selectContainer">
      <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></span>
      <select name="secteur" class="form-control selectpicker" id="secteur" value="<%= emploi.secteur %>" >
        <option value=" " >Veuillez sélectionner le secteur de l'offre</option>
        
        <option value="Agroalimentaire" <%=emploi.secteur==='Agroalimentaire' ? 'selected' : '' %>>Agroalimentaire</option>
        <option value="Bâtiment, Travaux Publics" <%=emploi.secteur==='Bâtiment, Travaux Publics' ? 'selected' : '' %>>Bâtiment, Travaux Publics</option>
        <option value="Commerce, Distribution" <%=emploi.secteur==='Commerce, Distribution' ? 'selected' : '' %>>Commerce, Distribution</option>
        <option value="Fonction Publique" <%=emploi.secteur==='Fonction Publique' ? 'selected' : '' %>>Fonction Publique</option>
        <option value="Informatique" <%=emploi.secteur==='Informatique' ? 'selected' : '' %>>Informatique</option>
        <option value="Metallurgie" <%=emploi.secteur==='Metallurgie' ? 'selected' : '' %>>Metallurgie</option>
        <option value="Ressources Humaines" <%=emploi.secteur==='Ressources Humaines' ? 'selected' : '' %>>Ressources Humaines</option>
        <option value="Transport-Logistique" <%=emploi.secteur==='Transport-Logistique' ? 'selected' : '' %>>Transport-Logistique</option>
        
  
      </select>
    </div>
  </div>
  </div>


  <div class="form-group">
    <label class="col-md-4 control-label" >Paiment :</label> 
      <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input  name="paiment" value="<%= emploi.paiment %>"  id="paiment" class="form-control"  type="number" maxlength="6">
      </div>
    </div>
  </div>

<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label">Importer un fichier :</label>  
      <div class="col-md-4 inputGroupContainer">
      <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
    <input name="image" class="form-control" id="image" type="file">
      </div>
    </div>
    
    <input type="hidden" name="old_image" value="<%= emploi.img %>" >
  </div>

  <div class="form-group" style="margin-left: 43%;">
    
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        
    
        <div class="emploi">
          <img src="/<%= emploi.img %>" width="100" id="testimage" class="img-thumbnail mt-1">
         </div>
    </div> 

   
  </div>
</div>

<div class="form-group" >
  <label class="col-md-4 control-label">Description de l'emploi  :</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
        	<textarea class="form-control" name="description" id="description"  oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'><%=emploi.description%></textarea>
  </div>
  </div>
</div>



<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4">
    <button type="submit" class="btn btn-warning" >Confirmer la mise à jour de l'offre <span class="glyphicon glyphicon-send"></span></button>
  </div>
</div>

</fieldset>
</form>
</div>
    </div>
    
    
  </div></div>
</div><!-- /.container -->
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'></script><script  src="/js/form_emploi.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
  

  $(document).ready(function() {

    
var readURL = function(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#testimage').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}


$("#image").on('change', function(){
    readURL(this);
});

});
</script>
<script src="/js/sidebar.js"></script>
</body>
</html>
