
<% users.forEach((row, index)=> { %>

    <tr class="align-middle">
    
        <td><%= row.nom %> <%= row.prenom %></td>
        <td><%= row.cin %></td>
        <td><%= row.email %></td>
        <td><%= row.tel%></td>
        <td><%= row.score %></td>
        
        
        
    </tr>
    <% }) %>
    